[Unit]
Description=OpenADMS Node daemon
ConditionPathExists=/etc/openadms/openadms.json
After=network.target
Requires=network.target

[Service]
Type=forking
RemainAfterExit=no
StartLimitInterval=0
PIDFile=/var/run/openadms.pid
ExecStart=/bin/sh -c "python3.6 /usr/local/sbin/openadms/openadms.py -c /usr/local/etc/openadms/openadms.json"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
