[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
coloredlogs = "*"
hbmqtt = "*"
jsonschema = "*"
paho-mqtt = "*"
pyserial = "*"
requests = "*"
uptime = "*"
tinydb = "*"
verboselogs = "*"
CouchDB = "*"
"Mastodon.py" = "*"
pylint = "*"
"flake8" = "*"

[dev-packages]
Sphinx = "*"
pyflakes = "*"
pytest = "*"
sphinx_numfig = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"
testfixtures = "*"
pytest-cov = "*"

[requires]
python_version = "*"
